index.js
index.js.LICENSE.txt
/projects
*.zip
**/node-linux-dependencies
**/node-mac-dependencies
install-linux-service.js
install-macos-service.js
start-linux-service.js
start-macos-service.js
stop-linux-service.js
stop-macos-service.js
uninstall-macos-service.js
uninstall-linux-service.js